<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard

* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Book Details</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
   <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/search.css">
</head>

<body class="bg-default">

  <div class="main-content">
      <div class="container-fluid mt-6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Books Details</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
           
             <div class="container">
                {{#each Bookdata}}
         
                <b>Title : </b> {{this.Book_title}}
                <br>
                <b>Author : </b> {{this.Authors}}
                <br>
                <b> ISBN: </b> {{this.ISBN}}
                <br>
                <b> Publisher: </b> {{this.Publisher}}
                <br>
                <b> Edition: </b> {{this.Edition}}
        
              {{/each}}
             </div>
            </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                 
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
   
     <div class="container-fluid mt-6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Books List</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <div>
                <table class="table align-items-center">
                  <thead class="thead-light">
                    <tr>
                      
                      <th scope="col">Location</th>
                      <th scope="col">ISBN</th>
                      <th scope="col">Title</th>
                      <th scope="col">Authors</th>                      
                      <th scope="col">Status</th>
                        
                    </tr>
                  </thead>
                  <tbody class="list">
                    {{#each location}}
                     

                      <tr>
                          <td>{{this.location}}</td>
                          <td>{{this.ISBN}}</td>
                          <td>{{this.title}}</td>
                          <td>{{this.authors}}</td>
                          <td>{{this.status}}</td>

                      </tr>

                    {{/each}}

                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                 
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>



 
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>