<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META SECTION -->
  <title>Book List</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
   <script src="/js/tablesearch.js"></script>

 

  <link rel="stylesheet" href="/css/dashboardstyle.css">
  <!-- END META SECTION -->

  <!-- CSS INCLUDE -->
   
 

  <!-- EOF CSS INCLUDE -->
</head>

<body>
  <!-- Sidenav -->

  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->

    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            {{!-- <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Book Table</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/booklist"><i class="fas fa-book"></i></a></li>
                  <li class="breadcrumb-item " ><a href="/booklocation">Managelocation</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Update Location</li>
                </ol>
              </nav>
            </div> --}}
            {{!-- <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
               {{!-- <h3 class="mb-0">Books List</h3> --}}
               
                     <input type="text" name="search" id="search" class="form-control" placeholder="Search Book" />  
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <div>
                <table class="table align-items-center table-bordered" id="employee_table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">ISBN</th>
                      <th scope="col">Title</th>
                      <th scope="col">Edition</th>
                      <th scope="col">Total Copies</th>
                      <th scope="col">Authors</th>
                      <th scope="col">Add Location</th>
                      
                    </tr>
                  </thead>
                  <tbody class="list">
        {{#each totalbook}}
       
         
         {{#each ../Bookdata}} 
       <form action="/booklocation/managelocation/{{this.id}}" method="POST" id="myForm" > 

            <tr >
             
      <td  style="display:none;"><input type="text" value="{{@../index}}"  name="bookno"></td>
              <td  style="display:none;"><input type="text" value="row{{this.id}}{{@../index}}"  name="rowid" ></td>
                <td  style="display:none;"><input type="text" value="{{this.Total_copies}}"  name="totalbook"></td>
                <td>{{@../index}}</td>
                <td><input type="text" value="{{this.ISBN}}"  name="isbn"    readonly="true" ></td>
                <td><input type="text" value="{{this.Book_title}}"  name="title"  readonly="true" ></td>
                <td style="display:none;"><input type="text" value="{{this.Authors}}"  name="authors"></td>
                <input type="hidden"   name="publisher" value="{{this.Publisher}}" >
                   <input type="hidden" name="url" value="{{this.url}}" >
                 
                <td>
                  
                   
                                                 
                      <select class="form-control form-control-sm select" name="location" required>
                          <option>T1 - S2</option>
                          <option>T5 - S3</option>
                          <option>T3 - S2</option>

                      </select>
                                               
                     
                </td>
          
                  <td>
                      
                          <select class=" form-control form-control-sm select" name="status" >
                              <option>Available</option>
                              <option>Issued</option>
                          </select>
                     
                    </td>
                  
                   

                        <td><button type="submit" class="btn btn-primary  btn-sm" >submit</button></td>
                        <td><button type="submit" class="btn btn-primary  btn-sm" ><a href="/booklocation/updatelocation/{{this.id}}" style="text-decoration: none;color: aliceblue;" target="_blank">  Update </a></button></td>


   
              </tr>
         
           </form> 

          {{/each}}
         
         {{/each}}


                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
         </div>
         </div>
          </div>
        

</body>

</html>