<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META SECTION -->
  <title>Book List</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

 

  <link rel="stylesheet" href="/css/dashboardstyle.css">
  <!-- END META SECTION -->

  <!-- CSS INCLUDE -->
   
 

  <!-- EOF CSS INCLUDE -->
</head>

<body>
  <!-- Sidenav -->

  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->

    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Return Book Table</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/booklist"><i class="fas fa-book"></i></a></li>
                 
                  <li class="breadcrumb-item "  >Book List</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="/viewreturnbook" class="btn btn-sm btn-neutral" target="_blank">View Return Book List</a> 
              {{!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                {{!-- <h3 class="mb-0">Books List</h3> --}}
               
                     <input type="text" name="search" id="search" class="form-control" placeholder="Search Book" />  
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <div>
                <table class="table align-items-center">
                  <thead class="thead-light">
                    <tr>
                       
                      <th scope="col">Book Name</th>
                      <th scope="col">ISBN </th>
                      <th scope="col">Author</th>
                      <th scope="col">Issue Date</th>
                      <th scope="col">Due Date</th>
                      <th scope="col">Return Date</th>
                      <th scope="col">Full Name</th>
                      <th scope="col">Mobile No</th>
                      <th scope="col">Email</th>
                      
                    </tr>
                  </thead>
                  <tbody class="list">

                    {{#each data}}
                    <form action="/addreturnbookdetails" method="post" >
         
                    <tr>
                      <td style="display:none;"><input type="text" value="{{this.id}}"  name="id" ></td>
                      
                      <td style="display:none;"><input type="text" value="{{this.bookid}}"  name="bookid" ></td>
                      <td><input type="text" value="{{this.bookname}}"  name="bookname" readonly="true" ></td>
                      <td><input type="text" value="{{this.ISBN}}"  name="isbn" readonly="true" ></td>                     
                      <td><input type="text" value="{{this.author}}"  name="author" readonly="true" ></td>
                      <td><input type="text" value="{{this.issuedate}}"  name="idate" readonly="true" ></td>
                      <td><input type="text" value="{{this.duedate}}"  name="duedate" readonly="true" ></td>
                       <td>  <div class="form-group">
                                
                                <input type="datetime-local" class="form-control" id="rdate" name="rdate">
                              </div>
                    </td>
                      <td><input type="text" value="{{this.username}}"  name="username" readonly="true" ></td>
                       <td><input type="text" value="{{this.mobile}}"  name="mobile" readonly="true" ></td>
                       <td><button type="submit" class="btn btn-primary btn-sm">Submit</button></td>
                 
                          
                       

                    </tr>
                    </form>
                    {{/each}}


                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
         </div>
         </div>
          </div>
        

</body>

</html>